
// dark mode style variables

$white: #ffffff;

$primary-color: #39E6D8;
$secondary-color: #F5C331;
$tertiary-color: #8D49F5;

$page-background-color: #070A1B;
$main-container-background-color: #141729;
$sub-containers-background-color: #191B30;
$container-header-color: #0F1224;
$tertiary-button-container-color: #1D2038;

$h1-h2-color: #F8F8FF;
$h1-h2-blend-color: #F8F8FF23;
$body-text-color: #BDC7E0;
$scroll-bar-color: #2A305C;


$divider-color: #262958;
$card-border-color: #222536;
$menu-background-color: #080B1F;
$menu-item-hover-color: #1F2F45;
$input-background-color: #070A1B;
$pdf-icon-color: #F5494B;
$pdf-viewer-menu-item-hover-color: #24AFF5;
$warning-color: #E66139;
$tertiary-button-color: #96A0B5;
$delete-icon-color: #7A5152;

$warning-color: #E66139;

$shadow: #00000029;
$box-border-color: #101328;
$checkbox-color-first: #A8E158;
$checkbox-color-second: #D9B64C;

$line-separator-color: #202442;
$btn-background-color: #1A3845;


$copyright-color: #C5CFE9;


$secondary-button-color-inactive: #B3786B;
$secondary-button-color-active: #FF6C4C;

$secondary-nav-color: #9B543C;


$circle-color: #535E7B;
$notes-color: #8F9497;
$selection-color: #F58849;
$circle-text-color: #383E70;
$portfolio-card-container-color: #181B2E;
$negative-action-color: #D9363A;
$success-action-color: #19A65F;
$stepper-icon-primary: #BDC7E0;
$remove-color: #7A5152;

